.dashboard-container {
    padding: 20px;
    background-color: #f8f9fa;
    min-height: 100vh;
    margin-top: 9rem;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .appointments-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .appointments-table th,
  .appointments-table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .appointments-table th {
    background-color: var(--purple);
    color: white;
    font-weight: bold;
  }
  
  .appointments-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .complete-btn,
  .cancel-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .complete-btn {
    background-color: #25df1f;
    color: white;
  }
  
  .complete-btn:hover {
    background-color: #039b24;
  }
  
  .cancel-btn {
    background-color: #eb3036;
    color: white;
  }
  
  .cancel-btn:hover {
    background-color: #c82333;
  }
  