.backgroundpart1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
  }
  
  .backgroundpart1 .image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
  }
  
  .doctor-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin: auto;
  }
  
  .container {
    background: #fff;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(146, 66, 132, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 2rem;
    position: relative;
    height: 350px;
    width: 350px;
  }
  
  .card {
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
  }
  
  .container:hover > .card {
    transform: rotateY(180deg);
  }
  
  .front,
  .back {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 0.5rem;
    backface-visibility: hidden;
  }
  
  .front {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .front .image2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .front .info h3 {
    font-size: 1.5rem;
    padding: 2rem;

    color: #333;
    margin: 0;
  }
  
  .front .info span {
    font-size: 1.2rem;
    color: #777;
    margin-bottom: 1rem;

  }
  
  .back {
    background-color: #fff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.8rem;
  }
  
  .back p {
    font-size: 1.5rem;
    font-weight: bold;
    padding:0.7rem;
  }
  
  .back ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  
  .back li {
    font-size: 1.2rem;
    color: #555;
    padding: 0.8rem;
  }
  
  .front .btn2,
  .back .btn1 {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background 0.3s;
    border: var(--border);
    box-shadow: var(--box-shadow);

  }
  
  .btn1:hover {
    background:var(--purple);
    color: white;
  }
  
  .popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    visibility: hidden;
    text-align: center;
    padding: 30px;
    transition: transform 0.4s, visibility 0.4s;
    margin:0;
  }
  
  .open-popup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .popup img {
    width: 100px;
    border-radius: 50%;
  }
  
  .popup h2 {
    font-size: 2rem;
    padding:1px;
    margin-top:0.1rem;
  }
  
  .popup p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #555;
    margin:1.3rem;
  }
  
  .popup button {
    margin-top: 5px;
    margin-bottom: 2px;
    background-color:rgb(30, 215, 27);
    padding: 10px 100px;
    color: white;
    border: none;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
  } 
  
  .error {
    color: red;
    font-size: 0.3rem;
    margin-top: 0;
}

.btn2:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.error-field {
  border: 2px solid red;
  background-color: #ffe5e5;
}